body{
    background-image: url(./horror.png);
  }
  
  .card {
    /* المطلوب الثاني هنا */
    width: 400px;
    height: 500px;
    background-color: white;
    box-shadow: 8px 8px 8px  rgb(0, 0, 0);
    border-radius: 12px;
    
  }
  
  
  .center {
    margin: auto;
    position: absolute;
    top: 35;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .annabelle{
   display:inline-block ;
   margin-top: 20px;
   
  }
  
  
  
  a {
    text-decoration: none;
    color: black;
  }
   h3{
    background-color: yellow;
  }
  .item{
    display: inline;
  }
  .item2{
    display: inline-block;
    margin-top: 20px;
  }
  .item3{
    display: inline-block;
    margin-top: 10px;
  }
  .item4{
    display: inline-block;
    margin-top: 10px;
  }

  #mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    margin-top: 100px;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #web {
    top: 20px;
    background-color: #4CAF50;
  }
  
  #twitter {
    top: 80px;
    background-color: #2196F3;
  }
  
  #insta {
    top: 140px;
    background-color: #555
  }
  #youtube {
    top: 200px;
    background-color: #FF0000
  }
  

         .img1{
              opacity: 0.8;
              width: 1300px;}
          .img2{
              width: 200px;
              margin-left: 27%;
              margin-top: 5px;
          }    
          ul {
              list-style-type: none;  
              margin: 0;  /* navbar and img عشان تروح المسافة بين   */
              padding: 0;  /* المسافة من بداية navbar*/
              overflow: hidden;    /*to appear the navbar*/
              background-color: #333; /*navbar color*/}
  
          li {
              float: left; /*items place*/
              }
              
  
          li a, .dropbtn {
              display: inline-block; /*navbarطول ال */
              color: white; /*item's color*/
              text-align: center; 
              padding: 14px 16px;/*item's width and height*/
              text-decoration: none;}
  
          li a:hover, .dropdown:hover .dropbtn {
              background-color: rgb(137, 194, 228); /*لون البتن عند الضغط عليه*/}
  
          li.dropdown {
              display: inline-block;}
  
          .dropdownItems {
              display: none; /*عشان اخلي المنيو يطلع بس اذا ضغطت عليه*/
              position: absolute;
              background-color: #f9f9f9; /*the color of items inside the dropdown menu */
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;/*عشان اخلي ال dropdown apear*/}
  
          .dropdownItems a {
              color: black; /*words' color*/
              padding: 12px 16px;
               text-decoration: none; 
              display: block; /*عشان اخلي ال items بالطول*/
              text-align: left;}
  
          .dropdownItems a:hover {background-color: #f1f1f1;}
  
          .dropdown:hover .dropdownItems {
               display: inline;}
  
               .topnav .search-container {
                float: left;
              }
              
              .topnav input[type=text] {
                padding: 6px;
                margin-top: 8px;
                font-size: 17px;
                border: none;
              }
              
              .topnav .search-container button {
                float: right;
                padding: 10px 10px;
                margin-top: 8px;
                margin-right: 16px;
                background: #ddd;
                font-size: 17px;
                border: none;
                cursor: pointer;
              }
              
              .topnav .search-container button:hover {
                background: #ccc;
              }
              
              @media screen and (max-width: 600px) {
                .topnav .search-container {
                  float: none;
                }
                .topnav a, .topnav input[type=text], .topnav .search-container button {
                  float: none;
                  display: block;
                  text-align: left;
                  width: 100%;
                  margin: 0;
                  padding: 14px;
                }
                .topnav input[type=text] {
                  border: 1px solid #ccc;  
                }

           div {
                 width: 100px;
                 height: 100px;
                 background: red;
                 transition: width 2s;
      }
      
           div:hover {
                 width: 300px;
    

  }  
  body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 3px solid grey;
    float: right;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: right;
    width: 40%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    /* border-left: none; */
    cursor: pointer;
    margin-left: 50%;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: 100%;}
              }